.parentFlex {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 5px;
    height: 500px;
    overflow: auto;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px; */
}

.childFlex {
    /* flex: 1 0 calc(33% - 20px); */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.childFlex a:hover{
    text-decoration: none;
}
/* .parentFlex::after {
    margin: 5px; 
    display: flex;
    content: "";
    flex: auto;
} */
.uk-card-default {
    height: 100%;
}

.uk-card-body {
    background-color: #fff;
}