.parentFlex{
    display: flex;
    flex-wrap: wrap;
}

.childFlex{
    flex: 1 0 calc(33% - 20px);
    align-items: center;
}
.uk-card-default{
    height:100%;
}

.uk-card-body{
    background-color: #fff;
}